:root {
  --dark-blue: hsl(244, 38%, 16%);
  --darker-blue: hsl(233, 47%, 7%);
  --violet: hsl(277, 64%, 61%);
  --violet-overlay: hsl(277deg 80% 39%);
  --white: hsl(0, 0%, 100%);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --heading-font: 'Lexend Deca', sans-serif;
  --body-font: 'Inter', sans-serif;
}

body {
	text-rendering: optimizeSpeed;
  background-color: var(--darker-blue);
  color: var(--white);
	font-family: var(--body-font);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1.75rem;
}

/* Hidden h1 for accessibility */
.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

main {
  min-width: 320px;
  max-width: 1140px;
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.img-container {
  background-image: url(../assets/imgs/image-header-mobile.jpg);
  min-height: 240px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
}

.img-container:before {
  content: '';
  background: var(--violet-overlay);
  width:100%;
  opacity: .65;
}

.content-container {
  text-align: center;
  padding: 2rem;
}

.stats-container {
  margin-top: 2rem;
}

.cta-text-group h2, 
.stats-box h3 {
  font-family: var(--heading-font);
}

.cta-text-group h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.cta-text-group h2 span {
  color: var(--violet);
}

.cta-text-group p {
  color: var(--white-75);
  line-height: 1.75;
  font-size: .9rem;
}

.stats-box {
  margin-bottom: 1.5rem;
}

.stats-box h3 {
  margin-bottom: .5rem;
}

.stats-box p {
  color: var(--white-60);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75rem;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fm-attribution-row {
  line-height: 1.5;
}

.fm-attribution { 
  font-size: 12px; 
  text-align: right;
}

.fm-attribution a { 
  color: var(--violet); 
}

@media (min-width: 499px){
  .content-container {
    padding-top: 3rem;
    max-width: 425px;
  }

  .stats-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 2rem auto 0 auto;
  }
}

@media (min-width: 850px){
  main {
    flex-direction: row;
  }

  .img-container,
  .content-container {
    flex-basis: 50%;
  }

  .content-container {
    max-width: 100%;
    order: 1;
  }

  .img-container {
    order: 2;
    background-size: cover;
  }

  .content-container {
    text-align: left;
    padding-right: 2rem;
  }

  .cta-text-group h2 {
    font-size: 1.75rem;
  }

  .stats-container {
    margin: 2rem 0 0 0;
  }
}

@media (min-width: 930px){
  .content-container{
    padding-right: 4rem;
  }
}